
 
	<link th:src="@{/template/assets/css/loader.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{/template/assets/js/loader.js}"></script>
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet" />
	<link th:src="@{/template/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:src="@{/template/assets/css/plugins.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!-- 컨텐츠 페이지 CSS 삽입 -->
    <th:block layout:fragment="css"></th:block>
    
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script th:src="@{/template/assets/js/libs/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/template/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/template/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/template/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/template/assets/js/app.js}"></script>
<!--    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>-->
    <script th:src="@{/template/assets/js/custom.js}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

   
 

 
    
    <!-- 컨텐츠페이지의 script 영역이 들어감. 즉 contents페이지에 설정된 script를 역으로 받아와서 설정-->
    <th:block layout:fragment="script"></th:block>