<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="line-height: 40px;">
  <div style="border:1px solid #ccc; width:60%; margin: 0 auto;box-shadow: 0px 0px 4px rgba(0,0,0,.5);">
    <div style="text-align: center; border-bottom: 1px solid #ccc; ">
      <h1>
        <img style="width:300px; height:auto;" src="https://koreasoft.kr/img/logo/honey_logo.png" alt="">
      </h1>
      <h2 style="font-weight: bolder; font-size: 30px;"><span style="color: #ac7714;">허니아케이드</span>
        <span>비밀번호가 재설정되었습니다.</span></h2>
    </div>
    <div style="padding: 30px">
      <p style="font-weight: bold;">안녕하세요. <b style="font-size: 18px; color: #ac7714;">허니아케이드</b>입니다.</p>
      <p><span style="font-size: 20px; color:blue; font-weight: bold;" th:text="${member_id}"></span>님의 비밀번호가</p>
      <p style="padding: 10px; box-sizing: border-box; text-align:center; width: 30%; height: auto; background: #ccc; color:sienna; font-weight: bold; font-size: 24px; border-radius: 5px;" th:text="${new_owner_pwd}"></p>
      <p>로 변경되었습니다.</p>
      <p>안전한 사용을 위해 로그인 후 비밀번호를 재성정해 주시기 바랍니다.</p>

      <p style="margin-top: 50px;"><b>허니아케이드를 이용해 주셔서 감사합니다.</b><br>
      더욱 편리한 서비스를 제공하기 위해 항상 최선을 다하겠습니다.
      </p>
    </div>
  </div>
</body>
</html>