<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honeyarcade.reg.RegMapper">

	<select id="idCheck" parameterType="String" resultType="Integer">
	<![CDATA[
		select
			count(member_id) as cnt
		from
			tb_member
		where
			member_id = #{member_id}
	]]>
	</select>
	
	<select id="emailCheck" parameterType="String" resultType="Integer">
	<![CDATA[
		select
			count(owner_email) as cnt
		from
			tb_owner
		where
			owner_email = #{owner_email}
	]]>
	</select>
	
	<insert id="insertProduct" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		insert into tb_product
			(	
				  owner_id
				, product_seq
				, product_name
				, product_price
				, file_seq
			)
		values
			(
				  #{owner_id		}
				, #{product_seq     }
				, #{product_name    }
				, #{product_price   }
				, #{file_seq        }
			)
	]]>
	</insert>
	
	<insert id="insertOpen" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		insert into tb_open
			(
				  open_day
				, owner_id
				, open_time
				, close_time
			)
		values
			(
				  #{open_day}
				, #{owner_id}
				, #{open_time}
				, #{close_time}
			)
	]]>
	</insert>		
	
	<insert id="insertBreak" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		insert into tb_break
			(
				  break_day
				, owner_id
				, open_time
				, close_time
			)
		values
			(
				  #{break_day}
				, #{owner_id}
				, #{open_time}
				, #{close_time}
			)
	]]>
	</insert>		
	
	<insert id="insertDayOff" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		insert into tb_day_off
			(
				  day_off_week
				, owner_id
				, day_off_day
			)
		values
			(
				  #{day_off_week}
				, #{owner_id}
				, #{day_off_day}
			)
	]]>
	</insert>
	
	<insert id="insertHoliday" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		insert into tb_holiday
			(
				  holiday_seq
				, holiday_type
				, owner_id
				, holiday_start_day
				, holiday_end_day
			)
		values
			(
				  #{holiday_seq}
				, #{holiday_type}
				, #{owner_id}
				, #{holiday_start_day}
				, #{holiday_end_day}
			)
	]]>
	</insert>
	
	<select id="insertOwnerInfo" parameterType="honeyarcade.reg.RegVO" resultType="Integer">
	<![CDATA[
		insert into tb_owner
			(
				  build_seq
				, owner_status
				, owner_phone
				, store_name
				, store_sort
				, store_keyword
				, store_text
				, lcate_seq
				, mcate_seq
				, store_status
				, store_ho
				, store_floor
				, store_tel
				, mod_id
				, mod_dt
				, del_flag
				, owner_email
			)
		values
			(
				  #{build_seq}
				, 1
				, #{owner_phone}
				, #{store_name}
				, 1
				, #{store_keyword}
				, #{store_text}
				, #{lcate_seq}
				, #{mcate_seq}
				, 2
				, #{store_ho}
				, #{store_floor}
				, #{store_tel}
				, #{mod_id}
				, getDate()
				, 'N'
				, #{owner_email}
			)
		
		SELECT @@IDENTITY AS owner_id
	]]>
	</select>
	
	<update id="updateOwnerImg" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		update
			tb_owner
		set
			  busi_reg_file_seq = #{busi_reg_file_seq}
			, main_file_seq		= #{main_file_seq}
		where
			owner_id = #{owner_id}
	]]>
	</update>
	
	<insert id="insertMember" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		insert into tb_member
			(
				  member_id
				, role_id
				, owner_id
				, owner_pwd
				, owner_join_dt
				, del_flag
			)
		values
			(
				  #{member_id}
				, 'ROLE_OWNER'
				, #{owner_id}
				, #{owner_pwd}
				, getDate()
				, 'N'
			)	
	]]>
	</insert>	
	
	<select id="checkOwnerId" parameterType="Integer" resultType="String">
	<![CDATA[
		select del_flag from tb_owner where owner_id = #{owner_id}
	]]>
	</select>	
	
	<update id="updateOwnerInfo" parameterType="honeyarcade.reg.RegVO">
	<![CDATA[
		update
			tb_owner
		set
			  store_name	= #{store_name}
			, store_keyword = #{store_keyword}
			, store_text	= #{store_text}
			, mcate_seq		= #{mcate_seq}
			, store_tel		= #{store_tel}
			, owner_phone	= #{owner_phone}
			, lcate_seq		= #{lcate_seq}
			, owner_email	= #{owner_email}
		where
			owner_id = #{owner_id}	
	]]>
	</update>
	
</mapper>